<!DOCTYPE html>
<head>
    <title>Gabriel's Twitter Tracker</title>
    <link rel="stylesheet" type="text/css" href="home.css?v=1.1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <br><br>
    <h1>Welcome to Gabriel's<p href="#" class="fa fa-twitter"></p>Tracker</h1>
    <br><br>
    <h1>Let's Give it a Test Drive!</h1>
    <br><br>
    
    <div class="post">            
        <h2 class="title">Please Fill in The Information Below To Start Tracking</h2>
        <div class="story">
        <form class="form-style-7" action="/user" method="POST">            
            <br>
                <label for="account"><b>Account:</b></label>
                <input type="account" name="account" maxlength="100">
                <br><br>


                <label for="from_date"><b>Start Date:</b></label>
                <input type="from_date" name="from_date" maxlength="100">
                <br><br>

                <label for="to_date"><b>To Date:</b></label>
                <input type="to_date" name="to_date" maxlength="100">
                <br>

                <input class=my_cool_button type="submit" value="Start Tracking" >
        </form>            
    </div>

    
</body>
</html>